
@import "_header";

h1{
   color: blue ;
}

body{
   font-size: 50px;
   div{
      font-size: 10px;
   }
   div{
      color: yellow;
   }
}
.block {
   &__item {
   }
}
.block {
}
.block__item {
} 

.red{
   color: red;
}


